body {
  background-color: $mainColor;
  color: #fff;
}
[class*="__container"] {
  @extend %container;
}

%container {
  width: 100%;
  margin-inline: auto;
  padding-left: toRem(20);
  padding-right: toRem(20);
  @include adaptiveValue("max-width", 1660, 1260,0,1920,1440);
}

* {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 3px;
  }
}
// div {
  // unicode-bidi: isolate;
// }

.btn {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  padding: toRem(10) toRem(30);
  border: toRem(1) solid #666;
  border-radius: toRem(10);
  
  text-align: center;
  font-size: toRem(18);
  font-weight: 500;
  text-transform: uppercase;
  background-color: $mainColor;
  
}
